In [2]:
%load_ext sql

## 1. Loading the Dataset and looking at the first 5 data in the Dataset

In [11]:
%%sql
SELECT *
FROM nashville_housing_analysis
LIMIT 3;

 * postgresql://prosperadudata:***@localhost/sql_practice
3 rows affected.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', 'April 9, 2013', '240000', '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', Decimal('2.3'), 'GENERAL SERVICES DISTRICT', Decimal('50000'), Decimal('168200'), Decimal('235700'), Decimal('1986'), Decimal('3'), Decimal('3'), Decimal('0')),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', 'June 10, 2014', '366000', '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', Decimal('3.5'), 'GENERAL SERVICES DISTRICT', Decimal('50000'), Decimal('264100'), Decimal('319000'), Decimal('1998'), Decimal('3'), Decimal('3'), Decimal('2')),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', 'September 26, 2016', '435000', '20160927-0101718', 'No', 'WILSON, JAMES E. & JOANNE', '1864  FOX CHASE DR, GOODLETTSVILLE, TN', Decimal('2.9'), 'GENERAL SERVICES DISTRICT', Decimal('50000'), Decimal('216200'), Decimal('298000'), Decimal('1987'), Decimal('4'), Decimal('3'), Decimal('0'))]

## 2. Checking the amount of rows in the Dataset

In [12]:
%%sql
SELECT COUNT(*)
FROM nashville_housing_analysis;

 * postgresql://prosperadudata:***@localhost/sql_practice
1 rows affected.

[(56477,)]

## 3. CHANGING THE DATE COLUMN FROM TEXT TO DATETIME FORMAT

In [34]:
%%sql
ALTER TABLE nashville_housing_analysis
ALTER COLUMN sale_date
TYPE DATE 
USING to_date(sale_date, 'Month-DD-YYYY');

 * postgresql://prosperadudata:***@localhost/sql_practice
Done.

[]

In [54]:
%%sql
SELECT *
FROM nashville_housing_analysis
LIMIT 2;

 * postgresql://prosperadudata:***@localhost/sql_practice
2 rows affected.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', datetime.date(2013, 4, 9), '240000', '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', Decimal('2.3'), 'GENERAL SERVICES DISTRICT', Decimal('50000'), Decimal('168200'), Decimal('235700'), Decimal('1986'), Decimal('3'), Decimal('3'), Decimal('0')),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', datetime.date(2014, 6, 10), '366000', '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', Decimal('3.5'), 'GENERAL SERVICES DISTRICT', Decimal('50000'), Decimal('264100'), Decimal('319000'), Decimal('1998'), Decimal('3'), Decimal('3'), Decimal('2'))]

## 4 Delete rows where address is missing values

In [45]:
%%sql
SELECT property_address
FROM nashville_housing_analysis 
WHERE property_address is NULL;

 * postgresql://prosperadudata:***@localhost/sql_practice
29 rows affected.

[(None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,),
 (None,)]

In [49]:
%%sql
DELETE 
FROM nashville_housing_analysis
WHERE property_address is NULL;

 * postgresql://prosperadudata:***@localhost/sql_practice
29 rows affected.

[]

## 5a. Splitting the (<code>property_address<code>) column into diferent column (Address, city)

In [57]:
%%sql
SELECT property_address
FROM nashville_housing_analysis
LIMIT 5;

 * postgresql://prosperadudata:***@localhost/sql_practice
5 rows affected.

[('1808  FOX CHASE DR, GOODLETTSVILLE',),
 ('1832  FOX CHASE DR, GOODLETTSVILLE',),
 ('1864 FOX CHASE  DR, GOODLETTSVILLE',),
 ('1853  FOX CHASE DR, GOODLETTSVILLE',),
 ('1829  FOX CHASE DR, GOODLETTSVILLE',)]

In [64]:
%%sql
SELECT 
  SPLIT_PART(property_address, ',', 1) AS street_address, 
  SPLIT_PART(property_address, ',', 2) AS city
FROM nashville_housing_analysis
LIMIT 5;

 * postgresql://prosperadudata:***@localhost/sql_practice
6 rows affected.

[('1808  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1832  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1864 FOX CHASE  DR', ' GOODLETTSVILLE'),
 ('1853  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1829  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1821  FOX CHASE DR', ' GOODLETTSVILLE')]

## 5b. Create a new column and add separated column to the new column

In [68]:
%%sql
ALTER TABLE nashville_housing_analysis
ADD street_address VARCHAR(200);

 * postgresql://prosperadudata:***@localhost/sql_practice
Done.

[]

In [70]:
%%sql
ALTER TABLE nashville_housing_analysis
ADD city VARCHAR(200);

 * postgresql://prosperadudata:***@localhost/sql_practice
Done.

[]

In [74]:
%%sql
UPDATE nashville_housing_analysis
SET street_address =   SPLIT_PART(property_address, ',', 1);

 * postgresql://prosperadudata:***@localhost/sql_practice
56448 rows affected.

[]

In [76]:
%%sql
UPDATE nashville_housing_analysis
SET city =  SPLIT_PART(property_address, ',', 2)

 * postgresql://prosperadudata:***@localhost/sql_practice
56448 rows affected.

[]

In [77]:
%%sql
SELECT *
FROM nashville_housing_analysis
LIMIT 2;

 * postgresql://prosperadudata:***@localhost/sql_practice
2 rows affected.

[(2046, '018 12 0A 004.00', 'SINGLE FAMILY', '105  JUDITH CT, GOODLETTSVILLE', datetime.date(2013, 4, 30), '124900', '20130502-0043992', 'No', None, None, None, None, None, None, None, None, None, None, None, '105  JUDITH CT', ' GOODLETTSVILLE'),
 (19807, '022 02 0 014.00', 'SINGLE FAMILY', '7507  GARY RD, JOELTON', datetime.date(2014, 8, 11), '125000', '20140815-0074111', 'No', 'MORRIS, JAMES R., III & ELIZABETH B.', '7507  GARY RD, JOELTON, TN', Decimal('1.18'), 'GENERAL SERVICES DISTRICT', Decimal('30000'), Decimal('99200'), Decimal('129200'), Decimal('1971'), Decimal('4'), Decimal('1'), Decimal('0'), '7507  GARY RD', ' JOELTON')]

## 6a Split the address in the owner_address column into address, city, state and add it to a new column

In [14]:
%%sql
SELECT 
SPLIT_PART(owner_address, ',', 1) AS owner_home_address,
SPLIT_PART(owner_address, ',', 2) AS owner_city,
SPLIT_PART(owner_address, ',', 3) AS owner_state
FROM nashville_housing_analysis
LIMIT 5;

 * postgresql://prosperadudata:***@localhost/sql_practice
5 rows affected.

[(None, None, None),
 (None, None, None),
 (None, None, None),
 (None, None, None),
 ('433  CHARLES DR', ' MADISON', ' TN')]

## 6b. Create new column and add the split address

In [29]:
%%sql
ALTER TABLE nashville_housing_analysis
ADD owner_home_address VARCHAR(200)

 * postgresql://prosperadudata:***@localhost/sql_practice
(psycopg2.errors.DuplicateColumn) column "owner_home_address" of relation "nashville_housing_analysis" already exists

[SQL: ALTER TABLE nashville_housing_analysis
ADD owner_home_address VARCHAR(200)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [16]:
%%sql
ALTER TABLE nashville_housing_analysis
ADD owner_city VARCHAR(200)

 * postgresql://prosperadudata:***@localhost/sql_practice
Done.

[]

In [17]:
%%sql
ALTER TABLE nashville_housing_analysis
ADD owner_state VARCHAR(200)

 * postgresql://prosperadudata:***@localhost/sql_practice
Done.

[]

In [30]:
%%sql
UPDATE nashville_housing_analysis
SET owner_home_address = SPLIT_PART(owner_address, ',', 1)

 * postgresql://prosperadudata:***@localhost/sql_practice
56448 rows affected.

[]

In [31]:
%%sql
UPDATE nashville_housing_analysis
SET owner_city = SPLIT_PART(owner_address, ',', 2)

 * postgresql://prosperadudata:***@localhost/sql_practice
56448 rows affected.

[]

In [32]:
%%sql
UPDATE nashville_housing_analysis
SET owner_state = SPLIT_PART(owner_address, ',', 3)

 * postgresql://prosperadudata:***@localhost/sql_practice
56448 rows affected.

[]

In [34]:
%%sql
SELECT *
FROM nashville_housing_analysis
LIMIT 5;

 * postgresql://prosperadudata:***@localhost/sql_practice
5 rows affected.

[(8911, '041 03 0A 006.00', 'SINGLE FAMILY', '1325  GOODMORNING DR, NASHVILLE', datetime.date(2013, 10, 3), '147000', '20131009-0105980', 'No', None, None, None, None, None, None, None, None, None, None, None, '1325  GOODMORNING DR', ' NASHVILLE', None, None, None),
 (4547, '034 07 0A 069.00', 'RESIDENTIAL CONDO', '259  HARBOR VILLAGE DR, MADISON', datetime.date(2013, 6, 14), '170000', '20130618-0062383', 'No', None, None, None, None, None, None, None, None, None, None, None, '259  HARBOR VILLAGE DR', ' MADISON', None, None, None),
 (24078, '044 01 0 020.00', 'SINGLE FAMILY', '344  KEETON AVE, OLD HICKORY', datetime.date(2014, 11, 14), '93000', '20141120-0106810', 'No', 'DOSSEY, MARIA KRISTINA', '344  KEETON AVE, OLD HICKORY, TN', Decimal('0.27'), 'GENERAL SERVICES DISTRICT', Decimal('17000'), Decimal('57900'), Decimal('74900'), Decimal('1959'), Decimal('3'), Decimal('1'), Decimal('0'), '344  KEETON AVE', ' OLD HICKORY', '344  KEETON AVE', ' OLD HICKORY', ' TN'),
 (18404, '034 07 0A 132.00', 'RESIDENTIAL CONDO', '155  HARBOR VILLAGE DR, MADISON', datetime.date(2014, 7, 21), '142500', '20140725-0066110', 'No', None, None, None, None, None, None, None, None, None, None, None, '155  HARBOR VILLAGE DR', ' MADISON', None, None, None),
 (54881, '044 07 0A 005.00', 'VACANT RESIDENTIAL LAND', '22 ROEHRIG  CT, OLD HICKORY', datetime.date(2016, 9, 2), '350000', '20160907-0094134', 'Yes', None, None, None, None, None, None, None, None, None, None, None, '22 ROEHRIG  CT', ' OLD HICKORY', None, None, None)]

## 7. Standardizing the Yes, No, Y and N to be Yes and no in the <code>sold_as_vacant<code> column

In [35]:
%%sql
SELECT DISTINCT sold_as_vacant
FROM nashville_housing_analysis

 * postgresql://prosperadudata:***@localhost/sql_practice
4 rows affected.

[('Yes',), ('Y',), ('N',), ('No',)]

In [39]:
%%sql
SELECT sold_as_vacant, COUNT(sold_as_vacant)
FROM nashville_housing_analysis
GROUP BY sold_as_vacant

 * postgresql://prosperadudata:***@localhost/sql_practice
4 rows affected.

[('Yes', 4619), ('Y', 52), ('N', 398), ('No', 51379)]

In [58]:
%%sql
SELECT sold_as_vacant,
CASE 
    WHEN sold_as_vacant = 'Y' THEN 'Yes' 
    WHEN sold_as_vacant = 'N' THEN 'No'
    ELSE sold_as_vacant
END
FROM nashville_housing_analysis
LIMIT 15;

 * postgresql://prosperadudata:***@localhost/sql_practice
15 rows affected.

[('Yes', 'Yes'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No'),
 ('No', 'No')]

In [60]:
%%sql
UPDATE nashville_housing_analysis
SET sold_as_vacant = CASE 
    WHEN sold_as_vacant = 'Y' THEN 'Yes' 
    WHEN sold_as_vacant = 'N' THEN 'No'
    ELSE sold_as_vacant
END

 * postgresql://prosperadudata:***@localhost/sql_practice
56448 rows affected.

[]

In [61]:
%%sql
SELECT sold_as_vacant, COUNT(sold_as_vacant)
FROM nashville_housing_analysis
GROUP BY sold_as_vacant

 * postgresql://prosperadudata:***@localhost/sql_practice
2 rows affected.

[('No', 51777), ('Yes', 4671)]